# IntelliJ / IDEA
.idea/
out/
*.iml

# Gradle
.gradle/
build/
bin/

# Compiled Java files
*.class

# OS junk
.DS_Store

# Runtime data files
/data/
/text-ui-test/data/

# Text UI test outputs
/text-ui-test/ACTUAL.TXT
/text-ui-test/EXPECTED-UNIX.TXT
.vscode/
